body{
    margin: 0;
    font-family: Helvetica, sans-serif;
}
.menu ul>li{
    background-color: aqua;
    margin:0.5rem 0;
    font-size: 1.2rem;
    text-align:center;
    list-style: none;
    padding: 1rem 0;
    font-weight: bold;
    color:#fff;
}
.header {
    background-color: blueviolet;
    text-align: center;
    color:#fff;
    padding:1rem;
}
.footer{
    background-color: blueviolet;
    color: #fff;
    padding:0.5rem;
    text-align: center;
}
.aside {
background-color: aqua;
color: white;
}
.aside h1,p {
    text-align: center;
    padding: 0.8rem;
}
.main h1{
    text-align: center;
}
/*For mobile*/
[class*="col-"]{
    width: 100%;
}
@media only screen and (min-width: 768px){
    /*For desktop*/
    .row{
        display: flex;
        flex-direction: row;
    }
}